// main menu my account icon
.fa-user {
  color: $copy-color;
}

.main-navigation ul.menu ul li a, .main-navigation ul.nav-menu ul li a {
  font-weight: 300;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, a.cart-contents:hover, .site-header-cart .widget_shopping_cart a:hover, .site-header-cart:hover > li > a, .site-header ul.menu li.current-menu-item > a {
  color: $accent-color;
}

.main-navigation ul ~ a {
  font-weight: 300;
}

.menu-item-has-children {

  &:hover {
    background-color: #F2F2F2;
  }
}

button.menu-toggle {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0;
  margin-top: 3.1em;

  &:hover,
  &:focus {
    background-color: #fff;
  }
}

// adding home icon to handheld footer bar:
.storefront-handheld-footer-bar ul li.home > a:before {
	content: "\f015";
}

