// increase overall width:
.col-full {
  max-width: 1200px;
}

.site-content {
  margin-top: 5em;
}

// trying to avoid floated content that flows around each other from squishing down silly small on mobile screen:
.alignleft,
.alignright {

  @media screen and (max-width: $bp-s) {
    float: none;
    width: 100%;
  }
}

.post.type-post{

  .entry-title {
    font-size: 1.75em;
  }

  .entry-content {
    width: 100%;
  }

  .wp-post-image {
    float: left;
    margin-left: 0;
    margin-right: 2em;
    width: auto;
    max-height: 200px;
    
    @media screen and (max-width: $bp-m) {
      float: none;
      // width: 100%;
    }
  }
}

.comments-area {
  background-color: $module-color;
  color: $copy-color-darkest;
}

.comment-form {

  label {
    font-weight: 300;
  }

  .submit{
    font-weight: 300;
    background-color: $button-color;
  }
}