// trying to avoid floated content that flows around each other from squishing down silly small on mobile screen:
.alignleft,
.alignright {

  @media screen and (max-width: $bp-s) {
    float: none;
    width: 100%;
  }
}

.entry-title {
  font-size: 2em;
}