.site-header {
  // background-color: $color__header; //if no header image set in customizer
  position: relative;
  background-size: cover;
  margin-bottom: 100px;
  height: 150px;

  @media screen and (min-width: $bp-s) {
    height: 200px;
  }

  @media screen and (min-width: $bp-m) {
    height: 250px; 
  }

  @media screen and (min-width: $bp-l) {
    height: 300px;
  }

  @media screen and (min-width: $bp-xl) {
    height: 350px;
  }
  
  .site-branding {
    // the following 3 rules hide the site title and description from view but not from screen readers:
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.storefront-primary-navigation {
  position: absolute;
  bottom: -76px;
  width: 100%;
  background-color: white;
}

// remove price total from cart contents and align count next to icon:
.site-header-cart .cart-contents {
  display: flex;
  justify-content: flex-end;

  .amount {
    display:none;
  }

  .count {
    padding-right: 5px;
    line-height: 1.2;
    color: $action-color;
  }

  &:after {
    color: $copy-color;
  }
}