// overall layout etc, specific styling for the menu component sections are found in menus.scss
.site-footer {
  padding-bottom: 1em;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  padding: 2em 0 0;
}

.social-navigation {
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    padding: .5em;
  }

  .fab {
    font-size: 1.25em;
  }
}