// overall layout etc, specific styling for the menu component sections are found in menus.scss
.site-footer {
  color: $copy-color-darker;
  background-color: $module-color;
  padding-bottom: 1em;

  a {
    transition: 0.3s ease;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.footer-widgets {
  border-bottom: 1px solid $copy-color;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  padding: 2em 0 0;

  .site-legal p {
    color: $copy-color-darker;
  }
  
  .social-navigation {
    text-align: center;
    
    ul {
      list-style: none;
      margin: 0;
    }
    
    li {
      display: inline-block;
    }
    
    a {
      padding: .5em;

      &:hover,
      &:focus {
        color: white;
      }
    }
    
    .fab {
      font-size: 1.25em;
    }
  }

  .credit a {
    text-decoration: underline;

    &:hover,
    &:focus {
      color: white;
    }
  }
}