.site-header {
  // background-color: #b6c8d3;
  position: relative;
  padding: 0;
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 150px;
  height: 150px;
}
  @media screen and (min-width: 500px) {
  .site-header {
    height: 200px;
  }
}
  @media screen and (min-width: 700px) {
  .site-header {
    height: 250px;
  }
}
  @media screen and (min-width: 900px) {
  .site-header {
    height: 300px;
  }
}
  @media screen and (min-width: 1100px) {
  .site-header {
    height: 350px;
  }
}

.site-branding {
  // the following 3 rules hide the site title and description from view but not from screen readers:
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.storefront-primary-navigation {
  position: absolute;
  bottom: -100px;
  width: 100%;
  background-color: white;
  
  @media screen and (min-width: $bp-menu) {
    bottom: -76px;
  }
}

.site-search {
  margin: 6em 0 0;

  .site-search .widget_product_search form input[type=search] {
    border: none;
  }
}

// remove price total from cart contents and align count next to icon:
.site-header-cart .cart-contents {
  display: flex;
  justify-content: flex-end;

  .amount {
    display:none;
  }

  .count {
    padding-right: 5px;
    line-height: 1.2;
    color: $action-color;
  }

  &:after {
    color: $copy-color;
  }
}