.site-header {
  background-color: #fff;
  margin-bottom: 100px;
  
  .site-branding {
    // the following 3 rules hide the site title and description from view but not from screen readers:
    // position: absolute;
    // top: -9999px;
    // left: -9999px;
  }
}

.woocommerce-active .site-header .site-branding {
  display: block;
  width: 100px;
  margin: 0 auto;
  
  @media screen and (min-width: $bp-menu) {
    width: 150px;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.storefront-primary-navigation {
  width: 100%;
  background-color: #fff;
}

.site-search {
  margin: 6em 0 0;

  .site-search .widget_product_search form input[type=search] {
    border: none;
  }
}

// remove price total from cart contents and align count next to icon:
.site-header-cart .cart-contents {
  display: flex;
  justify-content: flex-end;

  .amount {
    display:none;
  }

  .count {
    padding-right: 5px;
    line-height: 1.2;
    color: $action-color;
  }

  &:after {
    color: $copy-color;
  }
}