body, button, input, textarea {
  font-family: $body-font;
  font-weight: 300;	
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font;
  font-weight: 400;
}

a {
  color: $link-color;
  font-weight: 300;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

button,
.button.alt,
.button {
  font-weight: 300;
  color: white;
  background-color: $button-color;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}