# Git Ignore
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/languages/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/themes/storefrontiersman/assets/sass/maps
wp-content/themes/storefrontiersman/style.css
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
.DS_Store
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
wp-content/themes/*/node_modules