.wpcf7 {

  label {
    font-weight: 300;
  }

  button, input[type="submit"] {
    background-color: $button-color;
    font-weight: 300;

    &:hover,
    &:focus {
      background-color: $button-hover-color;
    }
  }
}