// remove unecessary gaps from empty p tags in mailchimp sign up form:
.widget p {
  margin: 0;
}

/*********************************************************
## Instagram widget
*********************************************************/
.instagram-widget {
  margin-bottom: 2em;
  
  .widgettitle {
    max-width: 66.5em;
    margin: 0 auto;
    padding: .25em;
    text-align: left;
    font-size: 1em;
    font-weight: 200;
    color: $link-color;
    // display: none;
  }
  
  // link:
  // p {
  //   max-width: 66.5em;
  //   margin: 0 auto;
  //   padding-left: .5em;

  //   a {
  //     color: $link-color;
      
  //     &:hover,
  //     &:focus {
  //       text-decoration: underline;
  //     }
  //   }
  // }

  .instagram-pics {
    // match global max width:
    max-width: 66.5em;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center;
      
    @media screen and (max-width: $bp-menu) {
      li:nth-child(n+7) {  
        display: none
      }
    }
  }
}

/*********************************************************
## Footer Menu widget
*********************************************************/
#menu-footer-menu li::before {
  opacity: 1;
}

// my account icon:
.widget_nav_menu ul .menu-item-233::before {
  content: "\f007";
}
// FAQs icon:
.widget_nav_menu ul .menu-item-229::before {
  content: "\f059";
}

// privacy policy icon:
.widget_nav_menu ul .menu-item-231::before {
  content: "\f023";
}

/*********************************************************
## Product Categories widget
*********************************************************/
.widget_product_categories ul li {

  &:before {
    opacity: 1;
  }
}

.widget.woocommerce li .count {
    float: none;
  }

/*********************************************************
## Product Search widget
*********************************************************/
.woocommerce-product-search {
  input {
    font-weight: 300;
    font-size: .9em;
    background-color: #fff;
  }
}

.widget_product_search form::before {
  top: .9em;
  left: .9em;
}

/*********************************************************
## MailChimp signup widget
*********************************************************/
.mc_embed_signup {

  p {
    margin: 0;
  }
}

input#mce-EMAIL {
  width: 100%;
  font-weight: 300;
  font-size: .9em;
  background-color: #fff;
}
input#mc-embedded-subscribe {
  margin-top: 1em;
  width: 100%;
  font-weight: 300;
  font-size: .9em;
  color: #fff;
  background-color: $button-color;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}


