// #mc_embed_signup {

//   #mc_embed_signup_scroll {

//     #mc_field_group {
      
//       label {

//         font-family: $font-body;
//       }
//     }
//   }

//   input {
//     margin: 0;
//     width: 100%;
//   }
// }

input[type=email] {
  font-style: italic;
  font-weight: $body-font;
  width: 100%;
}