/*********************************************************
## MailChimp signup
*********************************************************/
input[type=email] {
  font-style: italic;
  width: 100%;
}

/*********************************************************
## product search
*********************************************************/
.search-field {
  font-style: italic;
}