/*********************************************************
## colours
*********************************************************/

$base-color: rgba(236, 245, 236, 0.719);
$module-color: #a5b3aa;
$module-color-light: rgb(244, 244, 244);

$brand-color: #c9e0c5;
$accent-color: #C68E7E;
$action-color: #cc6c52;

$link-color: $accent-color;
$hover-color: $accent-color;
$button-color: $accent-color;
$button-hover-color: $action-color;

$copy-color: #616161;
$copy-color-darker: #4b4b4b;
$copy-color-darkest: #2e2e2e;
$copy-color-lighter: #a3a3a3;
$copy-color-white: #fff;

/*********************************************************
## breakpoints
*********************************************************/

$bp-s: 500px;
$bp-m: 700px;
$bp-l: 900px;
$bp-xl: 1100px;

$bp-menu: 767px;

/*********************************************************
## font families
*********************************************************/
$body-font: 'Montserrat', sans-serif;;
$headings-font: 'Montserrat', sans-serif;







