$color__brand: #CDCFCE;
$color__primary: #9AA997;
$color__secondary: #C68E7E;

$color__header: $color__brand;

$color__copy: rgb(75, 75, 75);

$mq__s: 500px;
$mq__m: 700px;
$mq__l: 900px;
$mq__xl: 1100px;