.woocommerce-products-header {
  text-align: center;
  text-transform: uppercase;

  .term-description {
    text-transform: none;
  }
}

.product_title {
  font-size: 1.75em;
}

.storefront-sorting .woocommerce-ordering select {
  font-family: $body-font;
}

.storefront-product-section .section-title {
  font-weight: 300;
}

// main shop page featured images row
.storefront-product-section.storefront-featured-products {
  background-color: $base-color;
  padding: 50px 60px 0;
  margin-bottom: 4em;
}

li.product img {
  border: 1px solid #f0efef;
  border-radius: 0;
}

// restrict maximum width of archive products before they break into columns:
ul.products li.product {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
}