.project-page {

}

.project-title {
  font-size: 2em;
  margin: 0;
}

.project-meta {
  margin-bottom: 2em;
  
  p {
    margin: 0;
    font-style: italic;
  }
}

.project-featured-image {
  margin-bottom: 2em;
}

.project-thumbnails-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  margin: 3em 0;
  padding: 2em;
  background-color: $module-color-light;

  img {
    padding: 0;
    margin: 0;
  }
}