// .project-page {

// }

.project-title {
  font-size: 2em;
  margin: 0;
}

.project-meta {
  margin-bottom: 2em;
  
  p {
    margin: 0;
    font-style: italic;
  }
}

.project-featured-image {
  margin: 4em 0;
}

.project-thumbnails-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 4em;

  img {
    margin: 0;
  }
}